@use '../base/variables' as *;
@use 'sass:map';
@use '../utilities/maps' as maps;
@use '../utilities/extends';
@use '../utilities/mixins' as mixins;

.site-main-contacto {

    &__layout {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    &__form__info {
        flex: 1;
        background-color: map.get( maps.$colors, background-secondary);
        // Uso de mixinds con maps incluido
        @include mixins.card-box(map.get(maps.$colors, background-secondary));
        line-height: 1.8;
        min-width: 280px;
    }

    &__contact {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__form {

        // background-color: $color-background-secondary;
        background-color: map.get( maps.$colors, background-secondary);
        border: 1px solid black;
        border-radius: 10px;
        padding: 2rem;

        span {
            color: red;
        }

        &__row {
            display: flex;
            gap: 1rem;
            margin-bottom: 1.2rem;

            div {
                flex: 1;
            }
        }

        >div {
            margin-bottom: 1rem;
        }

        input,
        textarea {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid black;
            font-size: 1rem;
            border-radius: 5px;
        }

        textarea {
            min-height: 100px;
            resize: vertical;
        }

        button {
            // background-color: $color-secondary;
            background-color: map.get( maps.$colors, secondary);
            // padding: 0.5rem 1.2rem;
            // font-weight: bold;
            // border-radius: 5px;
            // border: none;
            // cursor: pointer;
            // color: #fff;

            // Uso de extend
            @extend %btn-basic;
            
            margin-top: 1rem;
            width: 100%;
        }

        button:hover {
            transform: scale(1.015); 
            background-color: $color-secondary; 
            color: $color-background-primary; 
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12); 
        }

        &__map {
            flex: 1;
            display: flex;

            iframe {
                border-radius: 10px;
                height: auto;
            }
        }

    }

}