@use '../base/variables' as *;
@use 'sass:map';
@use '../utilities/maps' as maps;

.site-main-home {

  &__beneficios {

    // background: linear-gradient(135deg,
    //     $color-primary 0%,
    //     $color-secondary 100%);
    background: linear-gradient(135deg,
         map.get(maps.$colors, primary) 0%,
         map.get(maps.$colors, secondary) 100%);
    // border-bottom: 4px solid $color-terciary;
    border-bottom: 4px solid map.get(maps.$colors, terciary);
    font-size: 1.2rem;

    &__container {

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;

      &__info {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;

        p {
          // color: $color-background-primary;
          color: map.get(maps.$colors, background-primary);
        }

        i {
            // color: $color-terciary;
            color: map.get(maps.$colors, terciary);
            font-size: 2rem;
        }
      }
    }
  }

  &__banner {
      position: relative;
      &__info {
          position: absolute;
          top: 50%;
          left: 75%;
          transform: translate(-50%, -50%);
          color: white;
          text-align: left;
      }
      &__img-responsive {
          display: none;
      }
  }
}
