@use '../base/variables' as *;


.site-footer {
  background-color: $color-primary;
  color: white;
  text-align: center;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
  }

  &__content,
  &__info,
  &__redes {
    flex: 1 1 250px;
  }

  &__copy {
    margin-top: 1rem;
    font-size: 0.9rem;
    opacity: 0.8;
  }

  img {
    height: 2.5rem;
  }

  &__info-item {
    a {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  &__redes {
    i {
      color: $color-terciary;
      cursor: pointer;
    }
  }
}