@use '../base/variables' as *;
@use 'sass:map';
@use '../utilities/maps' as maps;
@use '../utilities/extends';


.site-footer {
  // background-color: $color-primary;
  background-color: map.get(maps.$colors, primary);
  color: white;
  text-align: center;

  &__inner {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // align-items: flex-start;

    // Uso de extends
    @extend %flex-layout;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
  }

  &__content,
  &__info,
  &__redes {
    flex: 1 1 250px;
  }

  &__copy {
    margin-top: 1rem;
    font-size: 0.9rem;
    opacity: 0.8;
  }

  img {
    height: 2.5rem;
  }

  &__info-item {
    a {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      display: inline-block; 
      transition: transform 0.3s ease;
    }

    a:hover {
      transform: scale(1.1);
    }
  }

  &__redes {
    i {
      // color: $color-terciary;
      
      // Uso de maps
      color: map.get(maps.$colors, terciary);
      cursor: pointer;
      transition: transform 0.25s ease, color 0.25s ease, text-shadow 0.25s ease;
    }

    i:hover {
      transform: translateY(-3px);
      color: lighten(map.get(maps.$colors, terciary), 10%);
      text-shadow: 0 2px 6px rgba(247, 175, 2, 0.3);
    }
  }
}



