/* FOOTER */

.site-footer {
  background-color: var(--color-primary);
  color: white;
  text-align: center;
}

.site-footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

.site-footer__content,
.site-footer__info,
.site-footer__redes {
  flex: 1 1 250px;
}

.site-footer__copy {
  margin-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.8;
}

.site-footer img {
  height: 2.5rem;
}

.site-footer__info-item a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.site-footer__redes i {
  color: var(--color-terciary);
  cursor: pointer;
}