@use '../base/variables' as *;

.site-header {
  &__nav {
    background-color: $color-primary;
  }

  &__logo img {
    height: 2rem;
  }

  &__link {
    text-transform: uppercase;
  }

  &__item .active {
    color: $color-terciary !important;
  }

  &__i {
    color: white;
    cursor: pointer;
  }

  &__i:hover {
    color: $color-terciary;
  }
}