@use '../base/variables' as *;
@use 'sass:map';
@use '../utilities/maps' as maps;
@use '../utilities/extends';

.site-header {
  &__nav {
    // background-color: $color-primary;
    background-color: map.get(maps.$colors, primary);
  }

  &__logo img {
    height: 2rem;
  }

  &__link {
    text-transform: uppercase;
    transition: transform 0.3s ease;
  }

  &__link:hover {
    transform: scale(1.1);
  }

  &__item .active {
    // color: $color-terciary !important;
    color: map.get(maps.$colors, terciary) !important;
  }

  &__i {
    color: white;
    cursor: pointer;
  }

  &__i:hover {
    // SE DEJAN REFERENCIAS PARA VER LOS DISTINTOS CASOS DE USO
    // color: $color-terciary;
    // color: map.get(maps.$colors, terciary) !important;
    
    // Uso del extend
    @extend %clickable-icon;
  }
}