// HEADER

@media (max-width: 991px) {

  .site-header {

    &__link:hover {
    transform: none;
  }

}

}


/* FOOTER */

@media (max-width: 768px) {

  .site-footer {
    &__inner {
       flex-direction: column;
      text-align: center;
      align-items: center;
    }
    &__info {
      ul {
           padding: 0;
      }
    }
    &__redes {
          margin-top: 1rem;
    }
    &__content,
    &__info,
    &__redes {
      flex: 1 1 100%;
    }
  }

}

/* HOME */

@media (max-width: 1200px) {

  .site-main-home {
    &__banner__info {
      h2 {
        font-size: 1.3rem;
      }
      p {
        font-size: 0.8rem;
      }
      a {
         font-size: 0.65rem;
      }
    }
  }
}

@media (max-width: 991px) {

  .site-main-home {
    &__beneficios__container {
      grid-template-columns: repeat(2, 1fr);
    }
    &__banner__img {
      display: none;
    }
    &__banner__img-responsive {
      display: block;
    }

  }

}

@media (max-width: 766px) {

  .site-main-home {
    &__banner {
      &__info {
        h2 {
           font-size: 1.1rem;
        }
        p {
          font-size: 0.6rem;
        }
        // a {
        //    font-size: 0.5rem;
        // }
      }
    }
  }

}

@media (max-width: 576px) {

  .site-main-home {
    &__beneficios {
      &__container {
        grid-template-columns: 1fr;
        row-gap: 5rem;
      }
    }
    &__carousel {
        display: none;
    }
  }

}

// @media (max-width: 450px) {

//   .site-main-home {
//     &__banner {
//       &__info {
//         h2 {
//            font-size: 1rem;
//         }
//         p {
//            font-size: 0.5rem;
//         }
//         a {
//            font-size: 0.4rem;
//         }
//       }
//     }
//   }

// }

/* PRODUCTOS */

@media (max-width: 991px) {

  .btn-responsive {
    font-size: 0.65rem;
  }

}


/* OFERTAS */

@media (max-width: 991px) {

  .site-main-ofertas {
    &__categories {
      display: none;
    }
    &__content {
      grid-template-columns: 1fr;
    }
  }

}


/* CONTACTO */

@media (max-width: 767px) {

  .site-main-contacto {
    &__form {
      &__row {
            flex-direction: column;
      }
    }
    &__layout {
      flex-direction: column;
    }
  }
  
}


