
  // COLORES
  // ESTAS VARIABLES SE REEMPLAZAN POR EL MAP
  
  $color-primary: #101010;
  $color-secondary: #9911b9;
  $color-terciary: #f7af02;
  $color-background-primary: #f2f2f2;
  $color-background-secondary: #aacaf0;
  
  // ESPACIADOS
  $space-xxs: 0.25rem;
  $space-xs: 0.5rem;
  $space-sm: 1rem;
  $space-md: 1.5rem;
  $space-lg: 2rem;
  $space-xxl: 4rem;
